version: "3.8"

services:
  php1:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: todo-api-php1
    restart: unless-stopped
    working_dir: /var/www
    command: sh -c "php artisan migrate --force && php-fpm"
    volumes:
      - ./:/var/www
    networks:
      - todo-network
    depends_on:
      - db

  php2:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: todo-api-php2
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./:/var/www
    networks:
      - todo-network
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    container_name: todo-api-nginx
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - todo-network
    depends_on:
      - php1
      - php2

  db:
    image: mysql:8.0
    container_name: todo-api-db
    environment:
      MYSQL_DATABASE: todo_db
      MYSQL_ROOT_PASSWORD: root
      MYSQL_PASSWORD: secret
      MYSQL_USER: todo_user
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - todo-network

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
      - /app/node_modules
    depends_on:
      - nginx
    networks:
      - todo-network
    restart: unless-stopped
    environment:
      - NODE_ENV=development
networks:
  todo-network:
    driver: bridge

volumes:
  dbdata:
    driver: local
